  
  /*---------------------------MAIN--------------------------------------------------*/
  
  main {
    margin: 5rem 7rem; 
  }
  .a-box{
    display: flex; 
  }
  .b-box{
    display: flex;
    background-color: rgba(226, 190, 224, 0.377);
  }
  .c-box{
    display: flex;
  }
  .d-box{
    display: flex;
    background-color: rgba(226, 190, 224, 0.377);
  }
  .e-box{
    display: flex;
  }
  .f-box{
    display: flex;
    background-color: rgba(226, 190, 224, 0.377);
  }
  .g-box{
    display: flex;
  }
  main h4{
    width:75px;
    font-size: 100px;
    color:#00000034;
    margin: 2% 10%;
    padding-bottom: 50px;
    padding-top: 50px;
  }
  main h3{
    font-size: 18px;
    text-align:left;
    margin: auto ;
    width: 50px;
    line-height: 1.5;
    text-decoration: underline 2px;
  }
  

  /*------------------------------------------Tablet view------------------------------------------*/
  @media only screen and (max-width: 768px) {
    .a-box{
      grid-column: 2/3;
      display:block;
      padding-bottom: 35px;
    }
    .b-box{
      grid-column: 2/3;
      display:block;
      padding-bottom: 35px;
    }
    .c-box{
      grid-column: 2/3;
      display:block;
      padding-bottom: 35px;
    }
    .d-box{
      grid-column: 2/3;
      display:block;
      padding-bottom: 35px;
    }
    .e-box{
      grid-column: 2/3;
      display:block;
      padding-bottom: 35px;
    }
    .f-box{
      grid-column: 2/3;
      display:block;
      padding-bottom: 35px;
    }
    .g-box{
      grid-column: 2/3;
      display:block;
      padding-bottom: 35px;
    }
    main h4{
      margin: auto;
      padding-bottom: 20px;
    }
    main h3{
      text-align: center;
    }
  }
  /* Mobile view@media only screen and (max-width: 590px) {}/*