* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  }
  
  html {
    --barbypink: #e0218a;
    --textcolor: #000000;
    --hovercolor: #e06cac;
    --highlight: #fff3d9;
    --reatext: red;
  }
  body {
    width: 100%;
  }
  
  /*---------------------------BANNER--------------------------------------------------*/
  .Bannertop {
    display: flex;
    align-items: center;
    background-color: #e0218a;
    color: white;
    padding: 10px;
  }
  
  .bannerLeft {
    position: absolute;
    left: 20px;
    display: flex;
    gap: 25px;
  }
  
  .bannerRight {
    position: absolute;
    right: 20px;
  }
  
  .Bannertop p {
    font-size: 14px;
    margin: auto;
  }
  /*----------------------------HEADER-------------------------------------------------*/
  .HeaderTop {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 80px;
    margin-bottom: 20px;
  }
  
  .headericons img {
    width: 25px;
    height: 25px;
  }
  
/*---------------------------NAVBAR--------------------------------------------------*/

.navbar {
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
}

.links {
  margin: auto;
  gap: 20px;
}

.reatext {
  color: var(--reatext);
}

.search a i {
  cursor: pointer;
  font-size: 1.5rem;
}

.loginlink {
  display: flex;
  position: absolute;
  left: 3rem;
  align-items: center;
}

.loginlink a,
.loginlink p {
  color: gray !important;
  font-weight: 400 !important;
}

.loginlink a i {
  cursor: pointer;
  font-size: 1.2rem;
  padding-right: 5px;
}

.loginlink p {
  padding: 0px 5px;
  margin: 0;
}

.loginlink,
.cartlink span a {
  font-size: 12px;
  font-weight: 400 !important;
}

.cartlink {
  display: flex;
  position: absolute;
  right: 3rem;
  align-items: center;
}

.cartlink a {
  margin: 6px 0 0 auto;
  padding-left: 5px;
}

.cartlink a i {
  cursor: pointer;
  font-size: 1.3rem;
}

.navbar ul {
  display: flex;
}

.navbar li,
a {
  color: var(--textcolor) !important;
  text-decoration: none !important;
  font-weight: 600;
  list-style: none;
}

.navbar span:hover,
a:hover {
  transition: 0.2s;
  cursor: pointer;
  color: var(--hovercolor) !important;
}

  /*-----------------------DROPDOWN-----------------------------------------*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  color: var(--textcolor);
  background-color: white;
  font-weight: 600;
  border: none;
}

.dropbtn:hover {
  cursor: pointer;
  color: var(--hovercolor);
}

.dropdown-content {
  display: block;
  max-height: 0;
  overflow: hidden;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  margin-top: 0.6px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: max-height 0.5s ease-in-out;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  max-height: 500px; /* adjust the maximum height as needed */
}
  
  /*---------------------------MAIN--------------------------------------------------*/
  
  main {
    margin: 5rem 7rem; 
  }
  .a-box{
    display: flex; 
  }
  .b-box{
    display: flex;
    background-color: rgba(226, 190, 224, 0.377);
  }
  .c-box{
    display: flex;
  }
  .d-box{
    display: flex;
    background-color: rgba(226, 190, 224, 0.377);
  }
  .e-box{
    display: flex;
  }
  .f-box{
    display: flex;
    background-color: rgba(226, 190, 224, 0.377);
  }
  .g-box{
    display: flex;
  }
  main h4{
    width:75px;
    font-size: 100px;
    color:#00000034;
    margin: 2% 10%;
    padding-bottom: 50px;
    padding-top: 50px;
  }
  main h3{
    font-size: 18px;
    text-align:left;
    margin: auto ;
    width: 50px;
    line-height: 1.5;
    text-decoration: underline 2px;
  }
  
  /*---------------------------FOOTER--------------------------------------------------*/
  .footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 20px;
  background-color: var(--barbypink);
  color: white;
  align-items: center;
  bottom: 0;
  }
  
  .footer h3 {
    font-size: 1.7rem;
  }
  
  .footer ul {
    margin: 0;
  }
  
  .footer li {
    font-size: 1.2rem;
    line-height: 1.3;
    list-style: none;
    padding: 2px;
    font-weight: 200 !important;
  }
  
  .footer li:hover {
    transition: 0.2s;
    cursor: pointer;
    color: var(--highlight) !important;
  }
  
  .footer .left {
    display: flex;
    padding: 20px;
    left: 20px;
  }
  
  .customerService,
  .socials {
    padding-left: 8rem;
  }
  
  .social {
    display: flex;
    padding: 0;
  }
  
  .social a {
    color: white !important;
  }
  
  .social a:hover {
    transition: 0.2s;
    cursor: pointer;
    color: var(--highlight) !important;
  }
  .social i {
    font-size: 3rem;
    text-align: center;
    align-items: center;
  }
  
  .social span i {
    font-size: 4rem;
  }
  
  .footer .right {
    position: absolute;
    right: 50px;
  }
  
  .trustpilot {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  
  .trustpilot ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-left: 25px;
  }
  
  .trustpilot h3 {
    margin-bottom: 25px;
  }
  
  .trustpilot p {
    text-align: center;
    margin: 0;
    font-size: 0.8rem;
  }
  
  .trustpilot ul img {
    width: 40px;
    height: 40px;
  }
  
  /*---------------------------MediaQuery Header--------------------------------------------------*/
  @media only screen and (max-width: 600px) {
    .navbar {
      display: none;
    }
  
    .HeaderTop {
      box-shadow: 0 5px 5px -2px gray;
      border-top: none;
    }
  
    .Bannertop p {
      font-size: 10px !important;
    }
    .Bannertop {
      height: 35px;
    }
  }
  
  @media only screen and (max-width: 900px) {
    .loginlink,
    .cartlink span {
      display: none;
    }
    .navbar {
      justify-content: center;
    }
  
    .loginnavbar ul {
      display: none;
    }
    .Bannertop p {
      font-size: 12px;
    }
  }
  
  /*---------------------------MediaQuery Footer--------------------------------------------------*/
  @media only screen and (max-width: 600px) {
    .footer ul {
      font-size: 12px !important;
    }
    .footer li {
      font-weight: lighter !important;
      font-size: 10px !important;
    }
  
    .social img {
      margin-top: 10px;
      width: 20px;
      height: 15px;
    }
    .trustpilot ul {
      display: none;
    }
  }
  