


/*---------------------------MAIN--------------------------------------------------*/

main {
  max-width: 1500px;
  margin: 0 auto;
}

/*---------------------------TABLE--------------------------------------------------*/
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container a {
  color: var(--textcolor) !important;
  text-decoration: none !important;
  font-weight: 600;
  list-style: none;
}

.container a:hover {
  transition: 0.2s;
  cursor: pointer;
  color: var(--hovercolor) !important;
}
.top-content {
  display: flex;
  margin: 5rem 2rem;
  justify-content: space-between;
  align-items: center;
}

.top-content h3 {
  font-weight: 600 !important;
  font-size: 3rem;
  margin: 0;
}

.continue-button {
  width: 200px;
  height: 40px;
  background-color: var(--barbypink) !important;
  border: none !important;
}

.continue-button:hover {
  background-color: var(--hovercolor) !important;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table img {
  width: 150px;
  aspect-ratio: auto 150 / 200;
}

button {
  text-transform: none;
  border: 0;
  background-color: transparent;
}

td p {
  margin: 0;
  font-weight: 600;
}

.col-xs-12 {
  width: 100%;
}

.product {
  width: 200px;
}

table {
  margin-bottom: 1em;
}

.cart-card-table tr:first-of-type td {
  padding: 2.5em 1em 2.5em;
}

.cart-card-table__article,
.cart-card-table__variant {
  font-size: 0.8em;
  font-weight: 300;
  letter-spacing: 0.02em;
}

.cart-card__price,
.price {
  font-weight: 600;
  white-space: nowrap;
}

.text-right {
  text-align: right !important;
}

.text-bold {
  font-weight: 500;
}

.cart-card-table__edit {
  position: relative;
  z-index: 3;
}

.cart-card-table__edit button {
  display: block;
  margin-bottom: 0.4em;
  text-align: right;
  width: 100%;
  text-decoration: none;
}

.btn-icon .btn-icon__text {
  font-size: 0.8rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.cart-card-table__edit button:hover {
  transition: 0.2s;
  cursor: pointer;
  color: var(--hovercolor) !important;
}

.no-border {
  border-style: none;
}

/*---- RABATTKOD ----*/
.accordion--bordered,
.product-accordion {
  border-color: #e3e3e4;
  border-style: solid;
  border-width: 1px 0;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.5;
  min-height: 3.5rem;
  padding: 1em 1em 1em 0;
}

.accordion--bordered {
  text-wrap: balance;
  font-weight: 600;
  letter-spacing: 0.02em;
}

.accordion__button i {
  float: right;
  line-height: 1.7;
}

.checkout .right {
  float: right;
}

.col-xs-12 {
  float: left;
}

.checkout-totals__details-row {
  border-bottom: 1px solid #e3e3e4;
  padding-bottom: 0.7em;
}

.checkout-totals__details-section {
  padding-bottom: 1.5em;
}

.checkout-totals__details-label {
  float: left;
  max-width: 65%;
  text-align: left;
  word-break: break-all;
  word-break: break-word;
}

.checkout-totals__details-price {
  text-align: right;
}

.checkout-totals__total-sum-label {
  float: left;
  text-align: left;
}

.checkout-totals__total-sum-price {
  float: right;
  text-align: right;
}

.checkout-totals__total-sum {
  font-size: 1.5rem;
  text-wrap: balance;
  font-weight: 500;
}

.checkout-totals__helptext {
  font-weight: 300;
  letter-spacing: 0.02em;
  margin-bottom: 5rem;
}

.checkout-totals__sum-section {
  display: flex;
  flex-direction: column;
}

section{
  margin-top: 15em;
}

.first-section {
  margin: 5rem;
  justify-content: center;
  height: 500px;
}

.first-section img {
  width: 60%;
  object-fit: cover;
}

.saleContainer{
  background-color: #941b49;
  padding: 10rem;
  color: white;
  text-transform: uppercase;
}

.saleContainer h1{
  font-size: 100px;
  margin: 0;
}

.saleContainer h4{
  font-size: 16px;
}





/*---------------------------MediaQuery Header--------------------------------------------------*/
@media only screen and (min-width: 1125px) {

  .fill--half-width {
    padding-right: 15px;
    width: 50%;
  }
  .fill--half-width + .fill--half-width {
    padding-left: 15px;
    padding-right: 0;
  }

  .checkout-totals__total-sum {
    font-size: 1.7rem;
  }

  .first-section{
    display: flex;
  }

  .first-section .logo{
    display: none;
  }

  .sale-container{
    display: flex;
  }
}

@media only screen and (max-width: 1124px) {

  .checkout-totals{
    margin: 0;
    width: 100%;
  }

  section{
    margin: 0;
  }

  .first-section {
    justify-content: center;
    display: flex;
    height: 400px;
    align-items: center;
  }
  
  .first-section img {
    background-color: #941b49;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  
  .sale-container {
    display: none;
    margin: none;
  }

}


/*---------------------------MediaQuery Footer--------------------------------------------------*/
@media (min-width: 1940px) {
  .container {
    width: 1600px;
  }
}
@media (min-width: 1650px) {
  .container {
    width: 1270px;
    width: 1300px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 940px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
