.Products-titel {
  display: flex;
  justify-content: center;
}
/*TYPE*/
.productList h2 {
  font-size: 16px;
  margin: 0;
  width: fit-content;
}

.productList h2:hover {
  font-weight: 600;
  color: var(--barbypink);
}
/*COLOR*/
.productList p {
  font-size: 12px;
  margin: 0;
}
/*Price*/
.productList h5 {
  font-size: 16px;
}
.product-container {
  display: flex;
  justify-content: center;
}

.productList {
  width: 80%;
  display: flex;
  overflow: hidden;
  margin-top: 5rem;
  margin-bottom: 7rem;
}

.productList ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.productList li {
  list-style: none;
  margin-left: 20px;
}

.productList li:hover {
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
/*Product IMG*/
.img-container {
}

.productList img {
  width: 150px;
  height: 200px;
  border: 1px solid #d1d1d1;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
}
