* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  --barbypink: #ef56aa;
  --transBarby: #ef56aa1f;
  --textcolor: #000000;
  --hovercolor: #ea3e9a;
  --highlight: #ffd59f;
  --reatext: red;
}
body {
  width: 100%;
}

ul {
  padding-left: 0 !important;
}

/*---------------------------BANNER--------------------------------------------------*/
.Bannertop {
  display: flex;
  align-items: center;
  background-color: var(--barbypink);
  color: white;
  padding: 10px;
}

.Bannertop a {
  text-decoration: none;
  display: flex;
  color: white;
}

.Bannertop a:hover {
  cursor: pointer;
  color: var(--highlight);
}

.Bannertop i {
  font-size: 1.5rem;
  padding: 5px;
}


.bannerMid {
  margin: auto;
}

.bannerLeft {
  position: absolute;
  left: 20px;
  display: flex;
}

.bannerRight {
  position: absolute;
  right: 20px;
  display: flex;
}

.Bannertop p {
  font-size: 14px;
  margin: auto;
}
/*----------------------------HEADER-------------------------------------------------*/
.HeaderTop {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 80px;
  margin-bottom: 20px;
}

/*---------------------------NAVBAR--------------------------------------------------*/

.navbar {
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
}

.links {
  display: flex;
  margin: auto;
  gap: 20px;
}

.reatext {
  color: var(--reatext);
}

.search a i {
  cursor: pointer;
  font-size: 1.5rem;
}

.loginlink {
  display: flex;
  position: absolute;
  left: 3rem;
  align-items: center;
}

.loginlink a,
.loginlink p {
  color: gray !important;
  font-weight: 400 !important;
}

.loginlink a i {
  cursor: pointer;
  font-size: 1.2rem;
  padding-right: 5px;
}

.loginlink p {
  padding: 0px 5px;
  margin: 0;
}

.loginlink,
.cartlink span a {
  font-size: 12px;
  font-weight: 400 !important;
}

.cartlink {
  display: flex;
  position: absolute;
  right: 3rem;
  align-items: center;
}

.cartlink a {
  margin: 6px 0 0 auto;
  padding-left: 5px;
}

.cartlink a i {
  cursor: pointer;
  font-size: 1.3rem;
}

.navbar ul {
  display: flex;
}

.navbar li,
.navbar a {
  color: var(--textcolor) !important;
  text-decoration: none !important;
  font-weight: 600;
  list-style: none;
}

.navbar span:hover,
.navbar a:hover {
  transition: 0.2s;
  cursor: pointer;
  color: var(--hovercolor) !important;
}

.hamburger {
  display: none;
  position: absolute;
  font-size: 1.3rem;
  left: 10px;
  z-index: 2;
}

.hamburger i {
  cursor: pointer;
  transition: 0.2s;
}

.hamburger i:hover {
  color: var(--hovercolor);
}


/* VVVV ALLT DET HÄR ÄR HAMBURGARMENY VVVV */

.sidemenu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #111;
  text-align: center;
  transition: opacity 0.5s;
  opacity: 0;  /* Change opacity to 0 initially */
  pointer-events: none;
  background-color: white;
  z-index: 999;
  display: flex; /* Change display to block initially */
  flex-direction: column;
}


.sidemenu a {
  padding: 50px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  transition: 0.3s;
  color: black;
  font-weight: 700;
  font-size: 2rem;
  
}

.sidemenu a:hover {
  color: var(--hovercolor);
}

.closemenu{
  display: flex;
  justify-content: end;
  padding: 10px;
  font-size: 3rem;
  padding-bottom: 60px;
  cursor: pointer;
  transition: 0.2s;
}

.closemenu i:hover {
  color: var(--hovercolor);
}

.hamburger i {
  cursor: pointer;
  transition: 0.2s;
}

.hamburger i:hover {
  color: var(--hovercolor);
}

.sidemenu .dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
.sidemenu .dropbtn {
  color: var(--textcolor) !important;
  background-color: rgba(255, 255, 255, 0);
  font-weight: 700;
  font-size: 2rem;
  padding: 50px;
  border: none;
}

.sidemenu .dropbtn:hover {
  cursor: pointer;
  color: var(--hovercolor) !important;
}

.sidemenu .dropdown-content {
  position: absolute;
  top: 6rem;
  width: 400px;
  background-color: var(--barbypink);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: 0.5s ease-in-out;
}

.sidemenu .dropdown-content a {
  color: black;
  padding: 12px 16px;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.sidemenu .dropdown-content a:hover {
  color: var(--highlight);
}

.sidemenu .dropdown:hover .dropdown-content {
  max-height: 500px; /* adjust the maximum height as needed */
}

.sidemenu .reatext{
  /* color: var(--barbypink); */
  transition: .2s ease-in;
}

.sidemenu .reatext:hover{
  color: var(--highlight);
}

.sidemenu .user{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
  text-align: center;
  gap: 10px;

}

.sidemenu .user a{
  text-transform: uppercase;
  font-size: 1.3rem;
  padding: 0;
  color: var(--textcolor);
}

.sidemenu .user a:hover{
  color: var(--hovercolor);
}

/* ^^^^ ALLT DET HÄR ÄR HAMBURGARMENY ^^^^*/

/* NAVBAR HIGHLIGHT */
#active {
  color: var(--hovercolor) !important;
}

/*-----------------------DROPDOWN-----------------------------------------*/
.dropdown {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.dropbtn {
  color: var(--textcolor);
  background-color: white;
  font-weight: 600;
  border: none;
}

.dropbtn:hover {
  cursor: pointer;
  color: var(--hovercolor);
}

.dropdown-content {
  display: block;
  max-height: 0;
  overflow: hidden;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  margin-top: 0.6px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: max-height 0.5s ease-in-out;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  max-height: 500px; /* adjust the maximum height as needed */
}

/*---------------------------MAIN--------------------------------------------------*/

main {
  max-width: 1500px;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

/*---------------------------FOOTER--------------------------------------------------*/
footer {
  background-color: var(--barbypink);
  position: absolute;
  width: 100%;
  color: white;
}

.footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 20px;
  padding-bottom: 0px;
  align-items: center;
}

.footer h3 {
  font-size: 1.5rem;
}

.footer ul {
  margin: 0;
}

.footer a {
  text-decoration: none;
  color: white;
}

.footer li {
  font-size: 1rem;
  line-height: 1.3;
  list-style: none;
  padding: 2px;
  font-weight: 300 !important;
}

.footer li:hover {
  transition: 0.2s;
  cursor: pointer;
  color: var(--highlight) !important;
}

.footer .left {
  display: flex;
  padding: 20px;
  left: 20px;
}

.customerService,
.socials {
  padding-left: 4rem !important;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social a {
  color: white !important;
  transition: 0.2s ease-in-out;
}

.social a:hover {
  cursor: pointer;
  color: var(--highlight) !important;
  transform: translateY(-5px);
  text-shadow: -1px 30px 4px rgba(0, 0, 0, 0.419);
}
.social i {
  font-size: 2rem;
  text-align: center;
  align-items: center;
}

.social span i {
  font-size: 2.7rem;
}

.footer .right {
  right: 50px;
}

.trustpilot {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.trustpilot ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-left: 25px !important;
}

.trustpilot h3 {
  margin-bottom: 25px;
}

.trustpilot p {
  text-align: center;
  padding-top: 5px;
  margin: 0;
  font-size: 0.8rem;
}

.trustpilot ul img {
  width: 40px;
  height: 40px;
}

.chat {
  background-color: #ef56aa;
  padding: 5px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: 15px 10px;
  position: sticky;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat i {
  font-size: 1.7rem;
  color: white;
  transition: 0.15s;
  cursor: pointer;
}

.chat i:hover {
  color: var(--highlight);
}

/*---------------------------MediaQuery Header--------------------------------------------------*/
@media only screen and (min-width: 1125px) {
  .footer .right {
    position: absolute;
  }
}

@media only screen and (max-width: 600px) {
  .HeaderTop {
    border-top: none;
  }

  .Bannertop p {
    font-size: 10px !important;
  }
  .Bannertop {
    height: 35px;
  }
}

@media only screen and (max-width: 1325px) {
  .bannerLeft,
  .bannerRight {
    display: none;
  }
}

@media only screen and (max-width: 1124px) {
  .footer {
    flex-direction: column;
  }

  .right {
    margin: 50px;
  }

  .trustpilot {
    display: flex;
    text-align: center;
    flex-direction: column;
  }

  .trustpilot h3 {
    margin: 10px 0;
  }

  .trustpilot ul {
    padding: 0 !important;
  }
}

@media only screen and (max-width: 1024px) {
  .loginlink span,
  .loginlink p,
  .cartlink span{
    display: none;
  }

  .navbar i {
    font-size: 1.6rem !important;
  }

  .loginlink {
    left: 1rem;
  }

  .cartlink {
    right: 1rem;
  }
  .navbar {
    justify-content: center;
  }

  .loginnavbar ul {
    display: none;
  }
  .Bannertop p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 768px) {
  .links {
    display: none !important;
  }

  .navbar {
    width: 100%;
    margin-bottom: 2rem;
  }

  .navbar a{
    margin: 0;
    padding: 0;
  }

  .navbar i {
    font-size: 2rem !important;
  }

  .loginlink,
  .cartlink {
    position: unset;
    display: block;
    justify-content: right;
    margin-right: 10px;
  }

  .loginlink i {
    display: none;
  }

  .hamburger{
    display: block;
  }

  .navbar {
    position: relative;
    display: flex;
    float: right;
    gap: 30px;
  }

  .footer li {
    font-weight: 300 !important;
    font-size: 15px !important;
  }

  .footer h3 {
    font-size: 1.4rem;
  }

}

@media only screen and (max-width: 425px) {
  .HeaderTop img {
    width: 300px;
  }

  .bannerMid {
    display: none;
  }

  .bannerLeft,
  .bannerRight {
    display: flex;
  }

  .sidemenu .dropbtn {
    font-size: 1.7rem;
  }

  .sidemenu a{
    font-size: 1.7rem;
  }

  .sidemenu .user a{
    font-size: 1rem;
  }

}



/*---------------------------MediaQuery Footer--------------------------------------------------*/
@media only screen and (max-width: 600px) {
  .footer {
    display: flex;
    justify-content: center;
  }

  .footer ul {
    padding: 0 !important;
    margin-bottom: 2rem;
  }


  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .social i {
    font-size: 3rem;
    text-align: center;
    align-items: center;
  }

  .social span i {
    font-size: 3.7em;
  }

  .right {
    margin: 0;
  }

  .trustpilot h3 {
    margin: 10px 0;
  }
}


@media only screen and (max-width: 425px) {
  .bannerLeft {
    left: 10px;
  }

  .bannerRight {
    right: 10px;
  }

  .links {
    display: none;
  }
}

@media only screen and (max-width: 320px) {
  .bannerLeft {
    left: 10px;
  }

  .bannerRight {
    right: 10px;
  }

  .links {
    display: none;
  }

  .Bannertop p{
    font-size: .55rem !important;
  }
}
