* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  --barbypink: #e0218a;
  --textcolor: #000000;
  --hovercolor: #e06cac;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  --barbypink: #e0218a;
  --textcolor: #000000;
  --hovercolor: #e06cac;
  --reatext: red;
}
body {
  width: 100%;
}
/*---------------------------BANNER--------------------------------------------------*/
.Bannertop {
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #e0218a;
  color: white;
}
.Bannertop p {
  font-size: 14px;
  margin-left: 10px;
}
/*----------------------------HEADER-------------------------------------------------*/
.HeaderTop {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.HeaderTop img {
  width: 180px;
  height: 150px;
}

.headericons img {
  width: 25px;
  height: 25px;
}

/*---------------------------NAVBAR--------------------------------------------------*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid gray;
}

.poptext {
  color: var(--barbypink);
}

.reatext {
  color: var(--reatext);
}

.loginlink,
.cartlink span {
  font-size: 12px;
}

.cartlink {
}
.cartlink img {
  width: 20px;
  margin: 0 10px 0 0;
}

.navbar ul {
  display: flex;
}

.navbar li,
a {
  color: var(--textcolor);
  text-decoration: none;
  font-weight: 600;
  list-style: none;
  margin: 0 10px 0 10px;
}

.navbar span:hover,
a:hover {
  transition: 0.2s;
  cursor: pointer;
  color: var(--hovercolor);
}
/*---------------------------MediaQuery Header--------------------------------------------------*/
@media only screen and (max-width: 600px) {
  .navbar {
    display: none;
  }

  .HeaderTop {
    box-shadow: 0 5px 5px -2px gray;
    border-top: none;
  }

  .Bannertop p {
    font-size: 10px !important;
  }
  .Bannertop {
    height: 35px;
  }
}

@media only screen and (max-width: 900px) {
  .loginlink,
  .cartlink span {
    display: none;
  }
  .navbar {
    justify-content: center;
  }

  .loginnavbar ul {
    display: none;
  }
  .Bannertop p {
    font-size: 12px;
  }
}
/*---------------------------FOOTER--------------------------------------------------*/
.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  background-color: var(--barbypink);
  color: white;
}
.footer ul {
}
.footer li {
  font-size: 14px;
  line-height: 1.3;
  list-style: none;
}

.followus {
  display: flex;
  flex-direction: column;
}
.social img {
  margin-top: 10px;
  width: 25px;
  height: 20px;
}

.trustpilot {
  display: flex;
  justify-content: center;
  align-items: center;
}

.trustpilot ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.trustpilot h3 {
  text-align: center;
}

.trustpilot ul img {
  width: 40px;
  height: 40px;
  margin-left: 5px;
}
/*---------------------------MediaQuery Footer--------------------------------------------------*/
@media only screen and (max-width: 600px) {
  .footer ul {
    font-size: 12px !important;
  }
  .footer li {
    font-weight: lighter !important;
    font-size: 10px !important;
  }

  .social img {
    margin-top: 10px;
    width: 20px;
    height: 15px;
  }
  .trustpilot ul {
    display: none;
  }
}

/*---------------------------Main--------------------------------------------------*/
main {
  height: 66vh;
}
