/* ------------------------- main -------------------------*/

.main-container{
    width:1090px;
    margin:auto;
}
.box1{
    display: grid;
    grid-template-columns: 35% 32.5% 32.5%;
    grid-template-rows: 55% 45%;
    grid-template-areas: 
    "p1 pb pb"
    "p1 p2 p3";
    height:750px;
}
.pinkbox{
    background-color: rgb(255, 230, 242);
    grid-area: pb;
    text-align: start;
    
}
.pinkbox h4{
    font-size: 34px;
    font-weight: 300;
    padding: 25px;
    background-color: rgb(248, 204, 225);
   

}
.pinkbox p{
    padding-left: 30px;
    padding-top: 15px;
    font-size: 24px;
    font-weight: 200;
}
#pic1{
    height:100%;
    width:100%;
    grid-area: p1;
    object-fit: cover;
    
    
}
#pic2{
    height:100%;
    width:100%;
    grid-area: p2;
    object-fit: cover;
    
}
#pic3{
    height:100%;
    width:100%;
    grid-area: p3;
    object-fit: cover;
    
}

.maintitle{
    font-size: 38px;
    font-weight: 600;
    padding-top: 35px;
    border-bottom: solid black 3px;
    width:435px;
}
.box2{
    display: flex;
    justify-content: center;
    gap: 30px;
    
}
#card1{
    background-color: #DCEDD1;
}
#card2{
    background-color: #cce7da;
}
#card3{
    background-color: #C6E4EB;
}
.mid-card{
    width:100%;
    height: 100%;
}
.card-text{
    
    text-align: start;
    font-size: 18px;
    font-weight: 500;
    padding:4px 12px;
    margin-bottom: 2px;
    background-color: rgba(0, 0, 0, 0.048);
    
}
.card-undertext{
    text-align: start;
    font-size: 16px;
    padding: 15px 14px;
    margin-bottom: 0px;
}
.socialbanner{
    margin-top: 35px;
    padding: 15px;
    background-image: linear-gradient(rgb(248, 204, 225), rgb(255, 255, 255));
    text-align: center;
}
.socialbanner h3{
    padding-top:10px;
    font-size: 45px;
    font-weight: 200;
}
.socialbanner p {
    font-size: 25px;
    font-weight: 600;
}
.instabox{
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 270px;
    gap:10px;
}
.instabox img{
    width:265px;
    height:270px;
    
}
#ig1{
    grid-column: 1/4;
    grid-row: 1/1;
    
}
#ig2{
    grid-column: 2/4;
    grid-row: 1/1;
}
#ig3{
    grid-column: 3/4;
    grid-row: 1/1;
}
#ig4{
    grid-column: 4/4;
    grid-row: 1/1;
}
@media only screen and (max-width: 1138px) {
    .main-container{
        width:100%;
        padding:0px 18px !important;
        
    }
    
  }
@media only screen and (max-width: 1060px){
    .box2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card{
        width:500px !important;   
    }
    .maintitle{
        text-align: center;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        width:100%;
    }
    .pinkbox h4{
        font-size: 28px;
        padding: 28px;
    }
    .pinkbox p{
        font-size: 22px;
    }
  }

/*-------------------------------tablet view-------------------------------*/
@media only screen and (max-width: 768px){
    
    .main-container{

    }
    .box1{
        height: 500px;
    }
    .pinkbox{
       
    }
    .pinkbox h4{
        font-size: 24px;
        font-weight: 300;
        padding: 14px;
    }
    .pinkbox p{
        font-size: 16px;
        font-weight: 200;
    }
    .box2{
        flex-direction: column;
        align-items: center;
    }
}
/*-------------------------------mobile view-------------------------------*/
@media only screen and (max-width: 590px){

}