

  
  /*---------------------------MAIN--------------------------------------------------*/
  
  main {
    max-width: 1500px;
    margin: auto;
  }


  .product-container {
    display: flex;
    justify-content: center;
    margin: 40px auto;
    /* max-width: 80%; */
    gap: 35px;
  }

  /* PRODUKT-BILDSPEL */
  .carousel-indicators button.thumbnail {
    width: 100%;
    height: 100%;
  }

  .carousel-indicators img {
    max-height: 160px;
    object-fit: fill;
  }

  .carousel-indicators {
    position: static !important;
  }

  .carousel {
    max-width: 400px;
    height: 100%;
  }

  .product-img {
    max-width: 400px;
    height: 100%;
  }

  /* PRODUKTINFO */
  .product-information {
    max-width: 40%;
  }

  .product-information h1 {
    font-size: 1.8rem;
    margin-top: 80px;
  }

  .product-information h2 {
    font-size: 1.8rem;
  }

  .product-information p {
    margin: 50px 0px 5px;
  }

  .button-wrapper button {
    width: 50px;
    height: 45px;
    background-color: white;
    margin-right: 5px;
  }

  .button-wrapper button:hover {
    background-color: #e6e5e5;
  }

  .addcart-button {
    margin: 15px 0px 30px;
    width: 200px;
    height: 40px;
    background-color: #e0218a !important;
    border-color: #e0218a !important;
  }

  .addcart-button:hover {
    background-color: #b91b72 !important;
    border-color: #ad1468 !important;
  }

  .product-info h4 {
    font-size: 1.2rem;
  }

  .product-info p {
    margin: 0px;
  }

  /* REKOMMENDERAT */
  .recommended-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 70%;
  }

  .recommended-container h2 {
    font-size: 1.3rem;
  }

  .recommended-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .recommended-gallery img {
    height: 250px;
    margin-bottom: 50px;
  }
  
  
  

